.root
{
    -fx-font-family: "Segoe UI";
    -fx-outer-border: #222;
}

.text
{
    -fx-fill: #fff;
}

.text-field
{
    -fx-font-size: 18;
    -fx-text-fill: #fff;
    -fx-background-color: #333;
}

#hesabinyokmu
{
    -fx-font-size: 21;
}

#yokmu *
{
    -fx-fill: #888;
}

.hyperlink *
{
    -fx-fill: #4AC980;
    -fx-underline: true;
}

.button
{
    -fx-background-color: #222;
}

#topbar .button
{
    -fx-background-radius: 30px;
    -fx-font-size: 8;
    -fx-min-height: 16;
    -fx-min-width: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}

#closebutton
{
    -fx-background-color: #C9574A;
}

#minimizebutton
{
    -fx-background-color: #C9964A;
}

#lefttoppane
{
    -fx-background-color: #222222;
}

#lefttoppanel
{
    -fx-background-color: #222;
}

#lefttoppanel .text
{
    -fx-font-size: 27;
}

.scroll-pane > .viewport 
{
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.scroll-pane
{
    -fx-background-color: #333;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > *
{
    -fx-background-color: #222;
}

.scroll-pane:focused 
{
    -fx-background-insets: 0;
}

.scroll-pane .corner 
{
    -fx-background-insets: 0;
}

.date-picker > *
{
    -fx-background-insets: 0 0 0 0;
}

.date-picker > .arrow-button
{
    -fx-background-color: #222;
}

.date-picker-popup *
{
    -fx-background-color: #333;
}

#button_favmovies
{
    -fx-background-color: #444;
    -fx-font-size: 16;
}

#button_favmovies_selected
{
    -fx-background-color: #444;
    -fx-font-size: 16;
    -fx-border-color: #4AC980;
    -fx-border-width: 3;
    -fx-border-radius: 3;
}

#pane_favmovies_disabled
{
    -fx-background-color: #222;
    -fx-background-radius: 3;
}

#best_two_box
{
    -fx-background-color: #333;
}

#best_two_box > *
{
    -fx-font-weight: 700;
}

#stars_box
{
    -fx-background-color: #222;
}

#stars_box *
{
    -fx-fill: #C9964A;
    -fx-font-weight: 600;
}